<div>
<footer class="container-fluid text-center">
  <p>Online Movie Show Booking</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Subscribe</button>
  </form>
  <div class="row text-center" style="margin-top:20px;background-color:gray;color:white;font-family: sitika small; font-size:18;font-weight:bold;">
      <p>Easy Ticket Booking   &COPY;</p><small></small>
  </div>
</footer>
<div>


