<html>
<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
<div class="container" th:replace="fragments/header :: header"></div>
  <link th:href="@{/css/jquery-ui.css}"  rel="stylesheet" type="text/css"  />
  <link th:href="@{/css/dataTables.jqueryui.min.css}"  rel="stylesheet" type="text/css"  />
 <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
 <script type="text/javascript" th:src="@{/js/dataTables.jqueryui.min.js}"></script>

 
<script>
$(document).ready(function(){
   $('.seat').click(function(){
   
       var classStr = $(this).attr("class");
       if(classStr.indexOf("selected")>=0){
       
         $(this).removeClass("selected").addClass("available");
         
       }else{
       $(this).removeClass("available").addClass("selected");
       }
       
       
   var clubCount = 0;
   var silverCount = 0;
   $(".seat").each(function() {
     
     if($(this).attr("class").indexOf("selected")>=0 && $(this).attr("class").indexOf("club")>=0){
       clubCount+=1;
     }else if($(this).attr("class").indexOf("selected")>=0 && $(this).attr("class").indexOf("silver")>=0){
      silverCount+=1;
     }
});
     $("#seats").html(silverCount+clubCount); 
     if(silverCount>0 && clubCount>0){
     var totalPrice = Number(silverCount*Number($("#silverPrice").html()))+Number(silverCount*Number($("#clubPrice").html()));
      $("#costs").html(silverCount+" X Silver + "+clubCount+" X Club = "+totalPrice);  
     }else if(Number(silverCount)>0){
     
     var silverPrice = Number(silverCount*Number($("#silverPrice").html()));
     $("#costs").html(silverCount+" X Silver = "+silverPrice);  
     }else if(clubCount>0){
     
     var clubPrice = Number(clubCount*Number($("#clubPrice").html()));
     
      $("#costs").html(clubCount+" X Club = "+clubPrice); 
     }else{
        
         $("#costs").html(" = "+0);
     }
    
   }); 
});
</script>
<div class="container">
    <div class="row">
        <div class="col-md-3 row ">
            <div class="row col-sm-13 ">
             <img class="img img-responsive poster" th:src="@{'/img/' + ${movie.movieName}+'.jpg'}"></img>
            </div><br>
            <div class="row lnkbar">
                 <div class="col-md-3"></div>
                 <div class="col-md-2">
                     <!-- <a th:href="@{'/show/book/'+${movie.id}}" class="btn btn-default" style ="background-color:#58a942;font-weight: bold">Book Now</a> -->
                 </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11 title " th:text="${movie.movieName}"> </div>
            </div>
           
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11 description">
                    <div class="row" th:text="${movie.movieDesc}"> </div>
                    <div class="row"> <h4><b>Leading Actors </b></h4><span th:text="${movie.leadingActors}"></span></div>
                    <div class="row"> <h4><b>Director </b></h4><span th:text="${movie.director}"></span></div>
                    <div class="row">
         <table id="movieShowTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Cinema Name</th>
                <th>Movie</th>
                <th>Show Date</th>
                <th>Show Time</th>
                <th>Location</th>
                <th>City</th>
                <th>Status</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
           <th:block th:each="showDetails:${showDetailsList}">
            <tr>
                <th th:text="${showDetails.cinemaDetails.name}"></th>
                <th th:text="${movie.movieName}"></th>
                <td th:text="${showDetails.showDate}"></td>
                <td th:text="${showDetails.showTime}"></td>
                <td th:text="${showDetails.cinemaDetails.address}"></td>
                <td th:text="${showDetails.cinemaDetails.city.name}"></td>
                <td>Available</td>
                <td> <button type="button" class="btn btn-default" data-toggle="modal" style ="background-color:#58a942b8;font-weight: bold" data-target="#myModal" th:onclick="'getShowDetails(\''+${showDetails.id}+'\')'">Book Now</button></td>
            </tr>
            </th:block>
        </tbody>
        <tfoot>
            <tr>
                <th>Cinema Name</th>
                <th>Movie</th>
                <th>Show Date</th>
                <th>Show Time</th>
                <th>Location</th>
                <th>City</th>
                <th>Status</th>
                <th>Action</th>
               
            </tr>
        </tfoot>
    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
              <div class="col-sm-6">
                  <h4 class="modal-title" th:text="${movie.movieName}"></h4>
                  <h5 id="showDateTime"></h5>
              </div>
              <div class="col-sm-6">
                  <p>Seats: <span id ="seats"></span></p>
                  <p>Cost: Rs.<span id="costs">0X0=0</span></p>
                  <button class="btn btn-primary" style="float:right;margin-top: -50px;margin-right:60px;" th:onclick="'getProcessBooking()'">Continue</button>
              </div>
              
          </div>
          
        </div>
        <div class="modal-body">
            <div class="row" style="padding:0px 0px 0px 40px;">
              <div class="col-sm-10" style="padding-left:30px;">
              
             <h4><div>CLUB-RS.  <span id="clubPrice"></span></div></h4>
               <th:block th:each="seatDetails: ${clubSeatDetails}">
                <div class="row">  
                <div class = "col-sm-1" style = "margin-top: 7px; font-weight: bold;" th:text = "${seatDetails.rowNo}"></div>                  
                  <th:block th:each="i: ${#numbers.sequence(1, 15)}">
                 
                 <div th:if ="${i eq 11}" class="seatcover" style = "margin-left:80px;"><a href="#"><div class="club seat available" th:attr="seat-id=${seatDetails.rowNo}+''+${i}" th:text="${i}"></div></a> </div>
                 <div th:if ="${i ne 11}" class="seatcover"><a href="#"><div class="club seat available" th:attr="seat-id=${seatDetails.rowNo}+''+${i}" th:text="${i}"></div></a> </div>
                 
                  </div>
               </th:block>
               
             </th:block>
              <div class="row">  
                <div class = "col-sm-12" style = "margin-top: 30px; font-weight: bold;"></div>  
                <h4><div>SILVER-RS. <span id="silverPrice"></span></div></h4>
                <div class = "col-sm-12" style = "margin-buttom: 20px; font-weight: bold;"></div>                                 
              </div>
              <th:block th:each="seatDetails: ${silverSeatDetails}">
                <div class="row">  
                <div class = "col-sm-1" style = "margin-top: 7px; font-weight: bold;" th:text = "${seatDetails.rowNo}"></div>                  
                  <th:block th:each="i: ${#numbers.sequence(1, 15)}">
                 
                 <div th:if ="${i eq 11}" class="seatcover" style = "margin-left:80px;"><a href="#"><div class="silver seat available" th:attr="seat-id=${seatDetails.rowNo}+''+${i}" th:text="${i}"></div></a> </div>
                 <div th:if ="${i ne 11}" class="seatcover"><a href="#"><div class="silver seat available" th:attr="seat-id=${seatDetails.rowNo}+''+${i}" th:text="${i}"></div></a> </div>
                 
                  </div>
               </th:block>
                </div>
             </th:block>
             </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 bg-danger text-center " style="font-size:20px;font-weight:bold"></div>
                <div class="col-sm-2"></div>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
    <style>
       
        .seatcover{display:inline-block;padding:0px;padding-bottom:7px;}
        .seatcover a{color:black;text-decoration:none;}
        .seat{height:30px;width:30px;border-radius:10px;
             text-align: center; font-size:12px;
             font-weight:bold;font-family:sitika small;
             line-height: 28px;
          }
        .available{border:2px solid #6666ff;background-color:whitesmoke;}
        .available:hover{background-color: #6666ff;}
        .selected{background-color: #6666ff;}
        
        .booked{border:2px solid #999999;background-color: #cccccc;}
        
        .title{font-family: Calibri;font-size: 30px;font-weight: bold;}
        .description{font-family: Lucid Sans;font-size: 20px;font-weight:normal;}
        .poster{height:40%;width:100%; }
        .lnkbar a {font-family:Sans;font-size:18px;}
        .releaseDate{font-family: Calibri;font-size:20px;font-weight:bold;}
        th,td{text-align: center;} 
    </style>
    <script>
    $(document).ready(function() {
    $('#movieShowTable').DataTable();
} );

</script>
<script>

var ctx = $("meta[name='ctx']").attr("content");

function getShowDetails(showId){

$.ajax({
  type: "GET",
  url : ctx+"/show/showDetails",
  data: {"showId":1},
  success: function(data){
   
   $("#clubPrice").html(data.clubRate);
    $("#silverPrice").html(data.silverRate);
    var showDateTime = data.showDay+" | "+data.showDate+" | "+data.showTime;
    $("#showDateTime").html(showDateTime);
    
    $.each(data.seatList, function (index, itemData) {
    
     $(".seat").each(function() {
     
      var txtStr = $(this).attr("seat-id")
      if(itemData == txtStr){
      var classStr = $(this).attr("class");
      classStr = classStr.replace("available","booked");
      $(this).attr("class",classStr);
      $(this).off("click");
      }
     });
	
	});
  }
});
}



function getProcessBooking(){

var showId = 1;
var seatIds ="";

 $(".selected").each(function() {
 
 seatIds += $(this).attr("seat-id")+",";
 
 });
$.ajax({
  type: "GET",
  url : ctx+"/booking/process",
  data: {"showId":showId,
          "seatIds":seatIds
  
  },
  success: function(data){
   if(data == "true"){
     window.location = ctx+"/secure/payment";
   }
  }
});
}


</script>
</div>
<div lang="en" th:replace="fragments/footer :: footer"> </div>